# macOS
.DS_Store

# IDEs
.idea/

# Python
venv/
__pycache__/
*.pyc

# Cocotb build
test/sim_build/
test/__pycache__/
test/results.xml
*.log
*.o
*.so

# Simulation outputs
sim
sim.out
sim_rand.out
tb
tb_rand_tmp.v

# Waveforms
*.vcd
*.fst
*.fst.hier

# OpenLane / LibreLane
runs/
tt_submission/
src/user_config.json
src/config_merged.json
test/gate_level_netlist.v

# Editor junk
*.swp
*.swo
